div{
	text-align: center;
	margin: auto;
	padding-top: 40px;
}
table{
	text-align: center;
	border: 2px dotted black;
	background-image: url(planet.png);
	background-repeat: no-repeat;
	background-position: right;
	border-collapse: collapse;
	width: 75%;
	margin-bottom: 30px;
}
td{
	padding: 10px 10px;
	border: 2px dotted black;
}
.bg{
	background-color: rgba(157, 231, 235,0.5);
	font-weight: bold;
}
a{
	display: block;
	color: red;
	font-size: 18px;
	text-decoration: none;
}
a span:hover{
	color: white;
	background-color: red;
	font-size: 18px;
	text-decoration: none;
}